*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container img {
  margin-right: 10px;
}
header{
  background-color: black;
  height: fit-content;
  padding: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  display: inline-block;
  width: 50px;
  height: auto;
}
#company-name{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
  color: black;
}
body {
  font-family:Comic sans MS;
  margin:0;
  padding: 0;
  background: url('rain.gif') center center fixed;
  background-size: cover;
}
button{
background-color:rgba(255,255,255,.7);
margin:5px;
cursor:pointer;
}
.home{
font-size:20px;
padding:10px 40px;
}
.coffee{
font-size:20px;
padding:10px 10px;
}
.mp3{
font-size:20px;
padding:10px 40px;
}
.mp4{
font-size:20px;
padding:10px 10px;
}
.table{
font-size:20px;
padding:10px 0px;
}
.yuri{
font-size:20px;
padding:10px 35px;
}
span{
color:white;
font-size:20px;
margin:10px;
}
button:hover{
color:white;
}